/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap'); /*font-family Reboto*/

/*Normalizacion-> Debido a que por defecto los navegadores traen propiedades*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables*/
:root{
    /*Colores*/
    --blanco: #ffffffff;
    --negro: #00000000;
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris_oscuro: #666;
    --gris_claro: #ebebeb;
    --verde: #39b54a;

    /*Fuentes*/
    --title: 24px; /*Es igual a un h2*/
    --text: 12px;
    --discount: 16px;
    --description: 16px;
    --price: 18px;
}

/*Estilos comunes------------------------------------------------------------------------------------*/
html{                        /*El tamaño de los navegadores por defecto son 16px*/
    font-size: 65%;          /*De esta manera el valor del navegador es de 10px*/
}
p.price{
    font-size: var(--price);
    width: 40%;
}
p.discount{
    font-size: var(--discount);
    color: var(--verde);
    width: 60%;
}
h3.description{
    font-size: var(--description);
}
header nav{
    font-size: var(--text);
}
.flex-row{
    display: flex;
    align-items: baseline;
}
.products{
    display: block;
    gap: 20px;
}

/*Body---------------------------------------------------------------------------------------*/

body{
    font-family: 'Roboto', sans-serif;
    background-color: #EBEBEB;
}

/*Header-------------------------------------------------------------------------------------*/
header{
    background-color: var(--amarillo);
    padding: 8px;
}
.top-header{
    width: 100%;
    padding: 3%;
}
.logo-buscador{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 50%;
    padding: 5px;
}
.buscador{
    width: 50%;
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
    background-color: var(--blanco);
}
.form{
    padding: 1px 3px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
header .input{
    width: 90%;
    color: var(--gris_oscuro);
    padding: 8px;
    overflow: hidden;
}
header .submit {
    width: 12%;
    margin: auto;
    padding: 3px;
    border-left: solid 1px rgb(100, 100, 100);
    color: rgb(100, 100, 100);
}
header .submit i{
    width: 100%;
    margin: auto;
    text-align: center;
}
header .parrafo{
    text-align: center;
    margin: 10px;
}
.main-nav{
    display: none;
}
header .nav1{
    margin-bottom: 10px;
}
header .nav2{
    margin-bottom: 10px;
}
header ul li{
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    color: black;
}
header .burger-menu{
    margin: auto;
    height: 35px;
    width: 35px;
    background-color: #0044AA;
    color: var(--blanco);
    font-size: 18px;
    padding: 9px;
    border-radius: 5px;
}
section.banner img{
    width: 100%;
}

/*Main-----------------------------------------------------------------------------------------------*/
main{
    margin: auto;
    width: 90%;
}

main section article img{
    width: 100%;
}
main h3{
    font-size: 24px;
    color: #666;
}
main section article{
    background-color: #fff;    
    margin: 10px 0px;
}
.main-article{
    position: relative;
}
main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--celeste);
    background-color: #FFF;
    border-radius: 50%;
    color: #39B54A;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 400ms ease-in;
}
main section article:hover i{
    transform: rotate(-90deg);
}
main article div.main-article{
    width: 100%;
    border-top: 1px solid #EBEBEB;
    padding: 15px;
}
main section h3{
    margin: 20px 0px;
}
main h4{
    margin-top: 10px;
}
main section article .description{
    color: var(--gris_oscuro);
    display: none;
}
main section article:hover .description{
    display: block;
}

/*Footer------------------------------------------------------------------------------------------*/
footer{
    text-align: center;
    margin-top: 30px;
}
footer .copyright{
    margin: 20px;
}
footer .icon{
    font-size: 2em;
    margin: 10px;
    color: blue;
    transition-duration: 410ms;
}
footer .icon:hover{
    color: #39b54a;
}
footer h4{
    font-size: 18px;
    color: rgb(59, 57, 57);
}
footer p{
    color: rgb(59, 57, 57);
}

/*@media---------------------------------------------------------------------------------------*/
@media (min-width: 361px){
    .top-header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .main-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-nav ul{
        display: flex;
        gap: 10px;
    }
    .main-nav li{
        margin: 0 10px;
    }
    .burger-menu{
        display: none;
    }
    main section article .description{
        display: block;
    }
    section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    main section div.products article{
        width: 45%;
    }
    p.price{
        font-size: 14px
    }
    p.discount{
        font-size: 12px
    }

@media (min-width: 470px){
    .main-nav{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
    .main-nav a{
        font-size: 15px;
    }
    .div-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}
}